# Tarefa 02

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [2]:
# 1) Seu código aqui

df_perc = pd.DataFrame()
df_perc['%_mat'] = (df_mat/24)['Qt_acertos']*100
df_perc['%_por'] = (df_por/18)['Qt_acertos']*100
df_perc['%_geo'] = (df_geo/8)['Qt_acertos']*100
df_perc['%_ing'] = (df_ing/8)['Qt_acertos']*100
df_perc['%_his'] = (df_his/8)['Qt_acertos']*100
df_perc['%_fis'] = (df_fis/12)['Qt_acertos']*100
df_perc['%_qui'] = (df_qui/12)['Qt_acertos']*100

df_perc

        %_mat      %_por  %_geo  %_ing  %_his      %_fis      %_qui
0   25.000000  38.888889   87.5   37.5   12.5  66.666667  25.000000
1   79.166667  55.555556    0.0    0.0    0.0  91.666667  66.666667
2   58.333333  88.888889    0.0   62.5   87.5  33.333333  33.333333
3   41.666667  38.888889   37.5   50.0    0.0   0.000000  66.666667
4   29.166667  11.111111   25.0   87.5    0.0  75.000000  25.000000
..        ...        ...    ...    ...    ...        ...        ...
95  25.000000  22.222222   87.5   12.5   50.0  75.000000  25.000000
96  33.333333   5.555556   50.0   75.0   12.5  33.333333  25.000000
97  95.833333  27.777778    0.0   25.0   50.0   8.333333  41.666667
98   0.000000  55.555556   37.5   12.5   62.5  83.333333  91.666667
99  45.833333  83.333333    0.0   12.5   75.0  58.333333  16.666667

[100 rows x 7 columns]

In [3]:
# 2) Seu código aqui
from functools import reduce

df_total = pd.DataFrame()
df_merged = reduce(lambda  left,right: pd.merge(left,right,left_index=True, right_index=True,how='outer'), [df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui])
df_total['total_acertos'] = df_merged.sum(axis=1)
df_total

    total_acertos
0              35
1              48
2              50
3              32
4              30
..            ...
95             34
96             27
97             40
98             40
99             42

[100 rows x 1 columns]

In [4]:
# 3) Seu código aqui

df_total['%_acertos'] = (df_total/90)*100
df_total

    total_acertos  %_acertos
0              35  38.888889
1              48  53.333333
2              50  55.555556
3              32  35.555556
4              30  33.333333
..            ...        ...
95             34  37.777778
96             27  30.000000
97             40  44.444444
98             40  44.444444
99             42  46.666667

[100 rows x 2 columns]

In [5]:
# 4) Seu código aqui
df_total[df_total['total_acertos']>=45]['total_acertos'].count()

34

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [6]:
# seu código aqui
df_merged.columns = ['Qt_acertos_mat', 'Qt_acertos_por', 'Qt_acertos_geo', 'Qt_acertos_ing','Qt_acertos_his','Qt_acertos_fis','Qt_acertos_qui']

# 1 - Dataframe
df_desqualif = df_merged[(df_merged.iloc[:,0] == 0) | (df_merged.iloc[:,5] == 0) | (df_merged.iloc[:,6] == 0)]  
df_desqualif

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui
3,10,7,3,4,0,0,8
6,6,0,7,7,5,0,4
10,10,8,3,2,1,7,0
12,20,8,3,7,1,0,3
14,7,11,1,7,1,4,0
20,23,11,6,5,6,2,0
25,0,4,7,4,0,4,8
26,11,14,6,2,7,0,0
27,21,13,1,5,7,3,0
33,14,8,0,5,6,6,0
35,11,14,6,3,3,0,11
49,8,1,1,0,1,0,8
56,7,6,7,5,6,0,8
65,1,8,2,4,3,0,6
66,5,4,3,6,3,0,10
72,11,16,3,4,7,0,9
73,1,16,2,4,3,0,11
74,9,11,0,7,5,7,0
84,15,1,0,5,1,0,4
89,23,11,7,7,6,9,0
92,14,10,1,6,1,8,0
94,0,5,2,6,1,3,8
98,0,10,3,1,5,10,11

In [7]:
# 2 - Quantidade de alunos desqualificados
print(f'{df_desqualif.shape[0]} alunos foram desqualificados!')

23 alunos foram desqualificados!

In [8]:
# 3 - Média desses alunos em história e geografia
(df_desqualif[['Qt_acertos_geo','Qt_acertos_his']]/8)*10

    Qt_acertos_geo  Qt_acertos_his
3             3.75            0.00
6             8.75            6.25
10            3.75            1.25
12            3.75            1.25
14            1.25            1.25
20            7.50            7.50
25            8.75            0.00
26            7.50            8.75
27            1.25            8.75
33            0.00            7.50
35            7.50            3.75
49            1.25            1.25
56            8.75            7.50
65            2.50            3.75
66            3.75            3.75
72            3.75            8.75
73            2.50            3.75
74            0.00            6.25
84            0.00            1.25
89            8.75            7.50
92            1.25            1.25
94            2.50            1.25
98            3.75            6.25

In [9]:
# 4 - Alunos para a segunda fase
df_alunos = df_merged.merge(df_total, right_index=True, left_index=True)
df_segunda_fase = df_alunos[(df_alunos['total_acertos'] >= 45) & ((df_alunos.iloc[:,0] != 0) | (df_alunos.iloc[:,5] != 0) | (df_alunos.iloc[:,6] != 0))]
df_segunda_fase

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,total_acertos,%_acertos
1,19,10,0,0,0,11,8,48,53.333333
2,14,16,0,5,7,4,4,50,55.555556
5,20,2,5,3,2,9,9,50,55.555556
7,18,4,4,7,7,1,8,49,54.444444
8,22,9,2,7,6,5,7,58,64.444444
17,21,15,2,2,4,2,6,52,57.777778
18,20,4,3,5,3,11,4,50,55.555556
20,23,11,6,5,6,2,0,53,58.888889
24,20,2,7,5,3,11,2,50,55.555556
27,21,13,1,5,7,3,0,50,55.555556
31,15,13,3,1,3,9,10,54,60.000000
34,18,14,1,0,6,3,3,45,50.000000
35,11,14,6,3,3,0,11,48,53.333333
36,22,9,6,6,1,4,8,56,62.222222
37,19,12,5,7,1,6,2,52,57.777778
39,4,16,2,4,6,9,8,49,54.444444
40,18,3,6,3,6,5,6,47,52.222222
42,20,6,7,7,2,3,3,48,53.333333
45,17,10,0,2,6,9,4,48,53.333333
48,17,6,0,7,5,9,11,55,61.111111
53,14,11,3,4,3,7,3,45,50.000000
60,16,8,0,4,4,7,9,48,53.333333
62,17,6,2,4,7,1,9,46,51.111111
67,21,0,7,2,4,2,10,46,51.111111
70,21,14,0,3,5,11,8,62,68.888889
71,17,8,7,6,4,2,9,53,58.888889
72,11,16,3,4,7,0,9,50,55.555556
77,15,2,5,7,6,11,7,53,58.888889
78,14,16,7,2,7,11,9,66,73.333333
80,13,16,5,1,7,2,1,45,50.000000
81,22,16,2,0,4,1,10,55,61.111111
88,20,1,1,5,7,9,7,50,55.555556
89,23,11,7,7,6,9,0,63,70.000000
93,12,16,5,5,6,6,6,56,62.222222

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?

In [10]:
arquivo = 'https://s3-sa-east-1.amazonaws.com/ckan.saude.gov.br/PNI/vacina/uf/2021-05-23/uf%3DAC/part-00000-63e5bee2-3684-4286-b709-7fe85483b04e.c000.csv'

In [ ]:
# 1) Sua solução aqui

df_vac_acre = pd.read_csv(arquivo,sep=';')
print(df_vac_acre.shape)
df_vac_acre.head()

In [ ]:
df_vac_acre['vacina_nome'].unique()

In [ ]:
print(f"Estão registradas {df_vac_acre['vacina_nome'].nunique()} vacinas nessa base.")

In [ ]:
# 2) 
print(f"Foram vacinados {df_vac_acre['paciente_id'].nunique()} pacientes nessa base.")

In [ ]:
# 3) 
print('Distribuição das doses:', end='\n\n')
print(df_vac_acre['vacina_descricao_dose'].value_counts(), end='\n\n')
print(f"Temos {df_vac_acre[df_vac_acre['vacina_descricao_dose'] == df_vac_acre['vacina_descricao_dose'].unique()[0]]['paciente_id'].nunique()} pacientes únicos que tomaram a primeira dose.")

In [ ]:
# 3) solução alternativa
df_vac_acre[df_vac_acre['vacina_descricao_dose'] == df_vac_acre['vacina_descricao_dose'].unique()[0]].groupby('paciente_id').count().shape[0]

In [ ]:
# 4) 
print(f"{df_vac_acre[df_vac_acre['paciente_idade']<18]['paciente_id'].nunique()} pacientes com menos de 18 anos foram vacinados.")

In [ ]:
# 5)
print(f"{df_vac_acre['estabelecimento_valor'].nunique()} estabelecimentos aplicaram a vacina no Acre.")

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [ ]:
# 1) 
df_menores = df_vac_acre[df_vac_acre['paciente_idade'] < 18]
print(df_menores.shape)
df_menores.head()

In [ ]:
# 2) 
list_colunas = df_menores.columns
list_colunas

In [ ]:
# 3)
df_menores['vacina_categoria_nome'].value_counts()

In [ ]:
# 4)
colunas = pd.Series(list_colunas)
colunas_estab = colunas[colunas.str.contains('esta\w*lecimento', regex=True)].values    # umas das colunas estava escrito 'estalecimento' ao em vez de estabelecimento
colunas_estab

In [ ]:
# 5)
df_menores.loc[:, colunas_estab]

In [ ]:
# 6)
df_estab = df_menores.loc[:, colunas_estab].drop_duplicates('estabelecimento_valor',ignore_index=True)
print(df_estab.shape)
df_estab